/* Item Styles */
.Item {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 2rem 2rem;
  color: #454545;
}

.Item svg {
  font-size: 45px;
  color: #454545;
}

/* TextWrapper Styles */
.TextWrapper {
  margin-left: 2rem;
}

/* Statement Styles */
.Statement {
  font-size: 24px;
}

/* Author Styles */
.Author {
  font-weight: bold;
  font-size: 18px;
}
